---
layout: 2017_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        <h2>Talks (May change without notice, stay updated)</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-id"><center>ID</center></th>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Talks - Track 1 - Galicja Duza 0 floor</center></th>
                    <th class="row-2 agenda-activity"><center>Talks - Track 2 - Amper 0 floor</center></th>
                </tr>
            </thead>

            {% for agenda in site.data.twenty_17.agendas_1 %}
                <tr>
                    <td>{{ agenda.id }}</td>
                    <td>{{ agenda.time }}</td>
                    {% if agenda.info2 %}
                        <td>{{ agenda.info }}</td>
                        <td>{{ agenda.info2 }}</td>
                        
                    {% else %}
                        <td>{{agenda.info}}</td>
                        <td>-</td>
                    {% endif %}
                </tr> 
            {% endfor %}
        </table>
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://nova8.pl" class="portfolio-link" data-toggle="modal" target="blank">
                        <img src="../css/2017_style/img/logos/nova8.png" class="img-responsive img-centered" alt="Nova8">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://checkmarx.com" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/2017_style/img/logos/checkmarx.png" class="img-responsive img-centered" alt="Checkmarx">
                    </a>
                </div> 
            </div>
        <h2>The AppSec Village - By Nova8 & Checkmarx</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity - Galicja Mala 0 floor</center></th>  
                </tr>
            </thead>
            <tr>
                <td>09:00 AM - 10:00 AM</td>
                <td>Implementing SAST for Secure Code Development: Strategies and Lessons Learned<br><b>Tomasz Nowak & Robert Kiss aka kepten </b><br><i>Senior Security Engineer at kevin & Head of Application Security @kevin</i></td>
            </tr>
            <tr>
                <td>10:00 AM - 12:00 AM</td>
                <td>Integrating code scan into SDL workshop. (Bring your laptop)<br><b>Rafaela Durlo & Marcos Santos</b><br><i>Application Security Enginners</i><br></td>
            </tr>
            <tr>
                <td>12:00 PM - 13:00 PM</td>
                <td>Lunch break! Free included. 5th floor</td>
            </tr>
            <tr>
                <td>13:00 PM - 14:00 PM TBD</td>
                <td>How to Develop Modern Applications with Security<br><b>Marcos Santos</b><br><i>Application Security Enginner</i></td>
            </tr>
            <tr>
                <td>14:00 PM - 15:00 PM TBD</td>
                <td>Is DAST still a thing?<br><b>Rafaela Durlo</b><br><i>Application Security Enginner</i></td>
            </tr>
            <tr>
                <td>15:00 PM - 16:00 PM</td>
                <td>The internet is broken, The modern supply chain made us vulnerable<br><b>Mackenzie Jackson aka Mackenzie</b><br><i>Developer advocate - Security fanatic</i></td>
            </tr>
            <tr>
                <td>16:00 PM - 17:00 PM TBD</td>
                <td>TBD</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="https://global.abb/group/en" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/ABB.png" class="img-responsive img-centered" alt="ABB">
                </a>
            </div>
        </div>
        <h2>The Cyber Robots Village - By ABB</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity - Robotics Lab - 2nd building 0 floor</center></th>  
                </tr>

            </thead>
            <tr>
                <td>09:00 AM - 10:00 AM TBD</td>
                <td><b>Part 1:</b> How Robots Change the World. Open session about robotization. Presentation of robotic stations, systems for automation and advanced simulations.<br><b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i></td>
            </tr>
            <tr>
                <td>10:00 AM - 11:00 AM</td>
                <td><b>Session 1:</b> The Future of Industry - how robotization is changing in front of our eyes. Robotic Workshops for Everyone. Interactive Sessions with Cobots - You can touch, program and control.<br><b>Agenda:</b>
                <ul>
                    <li>1. Introduction presentation about Robotics</li>
                    <li>2. RobotStudio Simulations - this is where it all starts!</li>
                    <li>3. YuMi Intelligent Station - testing own code</li>
                    <li>4. GoFa Innovative Robot - Wizard Easy programming as an intuitive tool</li>
                </ul>
                <b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i><br><b>(Limited number of 12 person each session)</b>
                </td>
            </tr>
            <tr>
                <td>11:00 AM - 12:00 AM</td>
                <td><b>Session 2:</b> The Future of Industry - how robotization is changing in front of our eyes. Robotic Workshops for Everyone. Interactive Sessions with Cobots - You can touch, program and control.<br><b>Agenda:</b>
                <ul>
                    <li>1. Introduction presentation about Robotics</li>
                    <li>2. RobotStudio Simulations - this is where it all starts!</li>
                    <li>3. YuMi Intelligent Station - testing own code</li>
                    <li>4. GoFa Innovative Robot - Wizard Easy programming as an intuitive tool</li>
                </ul>
                <b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i><br><b>(Limited number of 12 person each session)</b>
                </td>
            </tr>
            <tr>
                <td>12:00 PM - 13:00 PM</td>
                <td>Lunch break! Free included. 5th floor</td>
            </tr>
            <tr>
                <td>13:00 PM - 14:00 PM</td>
                <td><b>Part 2:</b> How Robots Change the World. Open session about robotization. Presentation of robotic stations, systems for automation and advanced simulations.<br><b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i></td>
            </tr>
            <tr>
                <td>14:00 PM - 15:00 PM</td>
                <td><b>Session 3:</b> The Future of Industry - how robotization is changing in front of our eyes. Robotic Workshops for Everyone. Interactive Sessions with Cobots - You can touch, program and control.<br><b>Agenda:</b>
                <ul>
                    <li>1. Introduction presentation about Robotics</li>
                    <li>2. RobotStudio Simulations - this is where it all starts!</li>
                    <li>3. YuMi Intelligent Station - testing own code</li>
                    <li>4. GoFa Innovative Robot - Wizard Easy programming as an intuitive tool</li>
                </ul>
                <b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i><br><b>(Limited number of 12 person each session)</b>
                </td>
            </tr>
            <tr>
                <td>15:00 PM - 16:00 PM</td>
                <td><b>Session 4:</b> The Future of Industry - how robotization is changing in front of our eyes. Robotic Workshops for Everyone. Interactive Sessions with Cobots - You can touch, program and control.<br><b>Agenda:</b>
                    <br>1. Introduction presentation about Robotics
                    <br>2. RobotStudio Simulations - this is where it all starts!
                    <br>3. YuMi Intelligent Station - testing own code
                    <br>4. GoFa Innovative Robot - Wizard Easy programming as an intuitive tool
                <b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i><br><b>(Limited number of 12 person each session)</b>
                </td>
            </tr>
            <tr>
                <td>16:00 PM - 17:00 PM</td>
                <td><b>Part 3:</b> How Robots Change the World. Open session about robotization. Presentation of robotic stations, systems for automation and advanced simulations.<br><b>Aleksandra Binkiewicz & Damian Mięsowicz</b><br><i>Cobots Technical Support at ABB & Scientist - Robotics R&D Engineer</i></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BHIS Logo_COLOR.png" class="img-responsive img-centered" alt="Blackhills InfoSec">
                </a>
            </div>            
            <div class="col-md-8 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/projects/backdoorsandbreaches/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BNB_LOGO_2021_Wht_blk bkbrd.png" class="img-responsive img-centered" alt="Backdoors & Breaches">
                </a>
            </div>
        </div>
        <h2>The Cyber Games Village by Black Hills InfoSec</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity - Joule 0 floor</center></th>  
                </tr>

            </thead>
            <tr>
                <td>09:00 AM - 10:00 AM</td>
                <td><b>Capture the Flag Tournament set up, and score keeping and rules</b><br>Register and get started on the CTF! Play as a team or play as an individual!<br>The CTF starts at 10am and will conclude at 5pm with winners announced and prizes awarded. The CTF is a hands-on, interactive, and educational capture-the-flag (CTF) environment that make it easy to learn new cybersecurity skills by breaking down complex cybersecurity concepts into engaging challenges that simulate real world scenarios. The challenges are hosted online, all you need is a laptop with an internet connection to play! No VMs necessary!</td>
            </tr>
            <tr>
                <td>10:00 AM</td>
                <td><b>CTF Game start</b></td>
            </tr>
            <tr>
                <td>11:00 AM - 12:00 AM</td>
                <td><b>Backdoor & Breaches game demos</b><br>Learn how to play with a full demo game with Q&A from the audience</td>
            </tr>
            <tr>
                <td>12:00 PM - 13:00 PM</td>
                <td>Lunch break! Free included. 5th floor</td>
            </tr>
            <tr>
                <td>13:00 PM - 14:00 PM</td>
                <td><b>Backdoor & Breaches breakout games</b><br>Meet people and play! Join a team with people to do incident response D&D style!</td>
            </tr>
            <tr>
                <td>14:00 PM - 15:00 PM</td>
                <td><b>Backdoor & Breaches expansion games demos</b><br>See some demo games with two of our specialty B&B decks, ICS & Cloud Security!</td>
            </tr>
            <tr>
                <td>15:00 PM - 16:00 PM</td>
                <td><b>Backdoor & Breaches breakout games</b><br>Meet people and play! Join a team with people to do incident response D&D style!</td>
            </tr>
            <tr>
                <td>16:00 PM - 17:00 PM</td>
                <td><b>Hacker Trivia game</b></td>
            </tr>
            <tr>
                <td>17h00 PM</td>
                <td><b>CTF final, winners announced, prizes</b></td>
            </tr>
        </table>

        <h2>The after party</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>
            <tr>
                <td>06:00 PM - until you survive (or your money)</td>
                <td><u>Drink, drink and.... drink!</u><br><i>Kraków, address will be informed at the end of the event</i><br><br>Networking, business, hiring...</td>
            </tr> 
        </table>
    </div>