---
layout: 2017_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        <h2>Talks (May change without notice, stay updated)</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-id"><center>ID</center></th>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Talks - Track 1</center></th>
                    <th class="row-2 agenda-activity"><center>Talks - Track 2</center></th>
                </tr>
            </thead>

            {% for agenda in site.data.twenty_17.agendas_1 %}
                <tr>
                    <td>{{ agenda.id }}</td>
                    <td>{{ agenda.time }}</td>
                    {% if agenda.info2 %}
                        <td>{{ agenda.info }}</td>
                        <td>{{ agenda.info2 }}</td>
                        
                    {% else %}
                        <td>{{agenda.info}}</td>
                        <td>-</td>
                    {% endif %}
                </tr> 
            {% endfor %}
        </table><br /><br /><br />
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://nova8.pl" class="portfolio-link" data-toggle="modal" target="blank">
                        <img src="../css/2017_style/img/logos/nova8.png" class="img-responsive img-centered" alt="Nova8">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://checkmarx.com" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/2017_style/img/logos/checkmarx.png" class="img-responsive img-centered" alt="Checkmarx">
                    </a>
                </div> 
            </div><br /><br /><br />
        <h2>The AppSec & DevSecOps Village - By Nova8 & Checkmarx</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
        </table><br /><br /><br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BHIS Logo_COLOR.png" class="img-responsive img-centered" alt="Blackhills InfoSec">
                </a>
            </div>            
            <div class="col-md-8 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/projects/backdoorsandbreaches/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BNB_LOGO_2021_Wht_blk bkbrd.png" class="img-responsive img-centered" alt="Backdoors & Breaches">
                </a>
            </div>
        </div>
        <h2>The Cyber Games Village by Black Hills InfoSec</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
        </table><br /><br /><br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="https://www.devseccon.com/chapters/dsc-poland" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="https://www.devseccon.com/_next/static/media/dsc-logo-strap.b915e652.svg" class="img-responsive img-centered" alt="DevSecCon Poland">
                </a>
            </div>
        </div>        
        <h2>The after party + Underground Meetup - With support from DevSecCon</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>
            <tr>
                <td>19:00 PM - until you survive (or your money)</td>
                <td><u>Drink, drink and.... drink!</u><br><i>Kraków, address will be informed at the end of the event.</i><br><br>Networking, business, hiring...</td>
            </tr>
            <tr>
                <td>20:00 PM - 20:30 PM</td>
                <td><u>TALK 1</u><br><i>TBD</i><br><br>TBD</td>
            </tr>
            <tr>
                <td>20:30 PM - 21:00 PM</td>
                <td><u>TALK 2</u><br><i>TBD</i><br><br>TBD</td>
            </tr>
            <tr>
                <td>21:00 PM - 22:00 PM</td>
                <td><u>4 LIGHTNING TALKS - 15m each</u><br><i>TBD</i><br><br>TBD</td>
            </tr>            
        </table>
    </div>