---
layout: 2017_default
permalink: /trainings
title: Trainings
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>
    <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BHIS Logo_COLOR.png" class="img-responsive img-centered" alt="Blackhills InfoSec">
                </a>
            </div>            
            <div class="col-md-8 col-sm-6">
                <a href="https://www.blackhillsinfosec.com/projects/backdoorsandbreaches/" class="portfolio-link" data-toggle="modal" target="blank">
                    <img src="../css/2017_style/img/logos/BNB_LOGO_2021_Wht_blk bkbrd.png" class="img-responsive img-centered" alt="Backdoors & Breaches">
                </a>
            </div>
        </div>
    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
        <h2>Exclusive trainings by Blackhills</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-id"><center>ID</center></th>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Training</center></th>
                    <th class="row-2 agenda-activity"><center>Instructor</center></th>
                </tr>
            </thead>
            {% for agenda in site.data.twenty_17.trainings %}
                <tr>
                    <td>{{ agenda.id }}</td>
                    <td>{{ agenda.time }}</td>
                    {% if agenda.info2 %}
                        <td>{{ agenda.info }}</td>
                        <td>{{ agenda.info2 }}</td>
                        <td>{{ agenda.instructor }}</td>                        
                    {% else %}
                        <td>{{agenda.info}}</td>
                        <td>{{ agenda.instructor }}</td>
                    {% endif %}
                </tr> 
            {% endfor %}
        </table>
    </div>