<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors / Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>BSides Nerd Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Badge Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Leading Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Contributing Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Supporting Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Notable Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Supporter Sponsor</h1>
                </div>
            </div>                                                                        
        </div>
    </aside>