<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Security BSides Kraków IV<br></div>
                <div class="intro-lead-in">When: 20/09/2025 from 8AM to 5PM</div>
                <div class="intro-lead-in">Where: AGH University | Computer Science Department</div>
                
                <div class="intro-lead-in">Kawiory 21, Kraków (Wydział Informatyki, AGH, D-17)</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                <a href="https://bsideskrakow2025.eventbrite.com" target="blank" class="page-scroll btn btn-xl">Register now!</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    <!-- {% include 2017_data/contact.html %} -->
    {% include 2017_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/js.html %}

    </body>
</html>