<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2023_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Security BSides Kraków II<br></div>
                <div class="intro-lead-in">When: 02/09/2023 from 8AM to 5PM</div>
                <div class="intro-lead-in">Where: ABB CTC - Corporate Technology Center</div>
                
                <div class="intro-lead-in">Starowiślna 13A, 31-038 Kraków</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                <a href="https://bsideskrakow2023.eventbrite.com" target="blank" class="page-scroll btn btn-xl">Register now!</a>
            </div>
        </div>
    </header>

    {% include 2023_data/intro.html %}
    {% include 2023_data/speakers.html %}
    {% include 2023_data/about.html %}
    {% include 2023_data/sponsors.html %}
    <!-- {% include 2017_data/contact.html %} -->
    {% include 2023_data/footer.html %}
    {% include 2023_data/speakers_info.html %}
    {% include 2023_data/js.html %}

    </body>
</html>